 .u-section-1 {
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-image: linear-gradient(210deg, #00c4e3, rgba(0, 0, 0, 1) 23%, rgba(0, 0, 0, 1) 50%, rgba(0, 0, 0, 1) 78%, #00c4e3);
  background-size: cover;
}

.u-section-1 .u-sheet-1 {
  min-height: 876px;
}

.u-section-1 .u-text-1 {
  font-weight: 700;
  font-size: 1rem;
  margin: 277px 642px 0 0;
}

.u-section-1 .u-text-2 {
  font-family: AthabascaBd;
  font-size: 3rem;
  margin: 6px 513px 0 0;
}

.u-section-1 .u-text-3 {
  font-weight: 700;
  font-size: 1.5rem;
  margin: 30px 117px 0 0;
}

.u-section-1 .u-btn-1 {
  text-transform: uppercase;
  font-weight: 700;
  transition-duration: 0.71s;
  --radius: 25px;
  border-style: solid;
  font-size: 0.75rem;
  background-image: none;
  margin: 6px auto 0 156px;
}

.u-section-1 .u-btn-2 {
  text-transform: uppercase;
  font-weight: 700;
  transition-duration: 0.5s;
  --radius: 25px;
  font-size: 0.75rem;
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px);
  background-image: none;
  margin: -37px auto 60px 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-text-1 {
    margin-right: 442px;
  }

  .u-section-1 .u-text-2 {
    margin-right: 313px;
  }

  .u-section-1 .u-text-3 {
    margin-right: 0;
  }

  .u-section-1 .u-btn-1 {
    transform: rotate(0deg) scale(1) translateX(0px) translateY(0px);
    margin-left: 0;
  }

  .u-section-1 .u-btn-2 {
    margin-top: 20px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-text-1 {
    margin-right: 222px;
  }

  .u-section-1 .u-text-2 {
    margin-right: 93px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-text-1 {
    margin-right: 42px;
    margin-bottom: 60px;
  }

  .u-section-1 .u-text-2 {
    margin-right: 0;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-text-1 {
    font-size: 0.75rem;
    width: auto;
    margin-top: 335px;
    margin-right: 0;
    margin-bottom: 0;
    font-weight: 400;
  }

  .u-section-1 .u-text-2 {
    width: auto;
    margin-top: 12px;
    font-size: 2.25rem;
  }

  .u-section-1 .u-text-3 {
    font-size: 1.125rem;
    margin-top: 18px;
  }

  .u-section-1 .u-btn-2 {
    margin-top: 12px;
  }
}

.u-section-1 .u-btn-2,
.u-section-1 .u-btn-2:before,
.u-section-1 .u-btn-2 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-1 .u-btn-2.u-btn-2.u-btn-2:hover {
  border-radius: 35px !important;
  transform: scale(1) translateY(px) !important;
}

.u-section-1 .u-btn-2 {
  border-color: transparent !important;
}

.u-section-1 .u-btn-2.u-btn-2.u-btn-2.hover {
  border-radius: 35px !important;
  transform: scale(1) translateY(px) !important;
}

.u-section-1 .u-btn-2 {
  border-color: transparent !important;
}

.u-section-1 .u-btn-1,
.u-section-1 .u-btn-1:before,
.u-section-1 .u-btn-1 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-1 .u-btn-1.u-btn-1.u-btn-1:hover {
  border-radius: 35px !important;
  transform: translateY(px) !important;
}

.u-section-1 .u-btn-1.u-btn-1.u-btn-1.hover {
  border-radius: 35px !important;
  transform: translateY(px) !important;
}@font-face {
  font-family: 'MesmerizeBk';
  font-style: normal;
  font-weight: 400;
  src: url(fonts/MesmerizeBk.otf);
}
/* page-custom-fonts */
@font-face {
  font-family: 'AthabascaBd';
  font-style: normal;
  font-weight: 400;
  src: url(fonts/AthabascaBd.otf);
}